$colors = {
  primary: #009688,
  background: #131A1F,
  google: {
    bg: #fff,
    text: #757575
  },
  facebook: {
    bg: #3b5998,
  },
  twitter: {
    bg: #55acee,
  },
  github: {
    bg: #333
  }
}
