// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.page
  @extend .fade-transition

img
  max-width: 100%
  height: auto

.active--nav .btn__content:before,
.btn:hover .btn__content:before,
.btn:focus .btn__content:before
  background-color: transparent

.active--nav .btn__content
  border-bottom: 3px solid #008080

.btn:hover .btn__content
  border-bottom: 3px solid #008080